flows 2.json
[
    {
        "id": "87a10b4d938d5dda",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5ee29b0c534e896",
        "type": "inject",
        "z": "87a10b4d938d5dda",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "g9",
                "v": "grupo 9",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "235d935cb27bd887"
            ]
        ]
    },
    {
        "id": "235d935cb27bd887",
        "type": "function",
        "z": "87a10b4d938d5dda",
        "name": "",
        "func": "\n// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "d2a14036f963522d",
                "5bba6e1e0fec2630",
                "d5b139559fb7b444"
            ]
        ]
    },
    {
        "id": "d2a14036f963522d",
        "type": "debug",
        "z": "87a10b4d938d5dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "5bba6e1e0fec2630",
        "type": "ui_text",
        "z": "87a10b4d938d5dda",
        "group": "1cafa209d07d94c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hora   actual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "d5b139559fb7b444",
        "type": "debug",
        "z": "87a10b4d938d5dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "1cafa209d07d94c3",
        "type": "ui_group",
        "name": "hora",
        "tab": "1d0da709254a2eca",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0da709254a2eca",
        "type": "ui_tab",
        "name": "hora 2022",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    }
]